@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PtSansNarrow/pt_sans-narrow-web-regular.eot');
  src: url('../fonts/PtSansNarrow/pt_sans-narrow-web-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PtSansNarrow/pt_sans-narrow-web-regular.woff2') format('woff2'), url('../fonts/PtSansNarrow/pt_sans-narrow-web-regular.woff') format('woff'), url('../fonts/PtSansNarrow/pt_sans-narrow-web-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PtSansNarrow/pt_sans-narrow-web-bold.eot');
  src: url('../fonts/PtSansNarrow/pt_sans-narrow-web-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PtSansNarrow/pt_sans-narrow-web-bold.woff2') format('woff2'), url('../fonts/PtSansNarrow/pt_sans-narrow-web-bold.woff') format('woff'), url('../fonts/PtSansNarrow/pt_sans-narrow-web-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after,
*:before {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none;
}
:focus {
  -moz-outline: 3px solid #fff !important;
}
input[type="radio"]:focus {
  -moz-outline-radius: 12px !important;
  -moz-outline-offset: 0px !important;
}
input[type="checkbox"]:focus {
  -moz-outline-offset: -1px !important;
  -moz-outline: 1px solid #000 !important;
}
div,
span,
section,
article,
aside,
body,
html,
input,
button,
a,
p,
form {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
  width: 100%;
}
.clearfix:before {
  content: " ";
  clear: both;
  display: table;
  width: 100%;
}
html {
  font-size: 16px;
  line-height: 1.2;
  color: #6b6b6b;
  font-family: 'PT Sans Narrow';
}
p {
  margin-top: 1.8125rem;
}
ul,
ol {
  margin: 29px 0 0;
  padding-left: 40px;
  line-height: 1.42857;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}
main,
section,
article,
aside {
  display: block;
}
a img {
  border: none;
  /* Убираем рамку */
}
img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
h1,
.h1 {
  font-size: 34px;
}
h2,
.h2 {
  font-size: 26px;
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #4f4f4f;
  font-family: "PT Sans Narrow";
  line-height: 1.2;
}
b {
  font-weight: 500;
}
.large {
  font-size: 18px;
}
.small {
  font-size: 14px;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?-mhw0s2');
  src: url('../fonts/icons/icomoon.eot?#iefix-mhw0s2') format('embedded-opentype'), url('../fonts/icons/icomoon.woff?-mhw0s2') format('woff'), url('../fonts/icons/icomoon.ttf?-mhw0s2') format('truetype'), url('../fonts/icons/icomoon.svg?-mhw0s2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wallet:before {
  content: "\e604";
}
.icon-new:before {
  content: "\e605";
}
.icon-discount:before {
  content: "\e607";
}
.icon-attention:before {
  content: "\e608";
}
.icon-basket:before {
  content: "\e610";
}
.icon-notebook:before {
  content: "\e611";
}
.icon-car:before {
  content: "\e612";
}
.icon-facebook:before {
  content: "\e614";
}
.icon-marker:before {
  content: "\e615";
}
.icon-close:before {
  content: "\e619";
}
.icon-settings:before {
  content: "\e63a";
}
.icon-ok:before {
  content: "\e800";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-ok2:before {
  content: "\f00c";
}
.icon-vk:before {
  content: "\f189";
}
.icon-mail:before {
  content: "\e609";
}
.icon-telephone:before {
  content: "\e60b";
}
.icon-time:before {
  content: "\e60d";
}
.icon-world:before {
  content: "\e613";
}
.placeholdr {
  color: gray;
}
.form-control {
  border: 1px solid transparent;
  background: #ffffff;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding: 0em 10px;
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  font-family: 'PT Sans Narrow';
}
input.form-control {
  height: 35px;
  margin-bottom: 18px;
}
textarea.form-control {
  height: 141px;
  padding-top: 5px;
  margin: auto;
  padding-bottom: 5px;
  resize: none;
}
.btn {
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  font-family: inherit;
  margin: auto;
  padding: 11px 20px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
.btn-primary {
  background: #e94025;
}
.btn-primary:hover {
  background: #d52c11;
}
.btn-block {
  width: 100%;
}
.has-error {
  border-color: #ff0000;
  -moz-box-shadow: 0 0 3px 1px #ff0000;
  -webkit-box-shadow: 0 0 3px 1px #ff0000;
  box-shadow: 0 0 3px 1px #ff0000;
}
.has-success {
  border-color: #79b03d;
  -moz-box-shadow: 0 0 3px 1px #79b03d;
  -webkit-box-shadow: 0 0 3px 1px #79b03d;
  box-shadow: 0 0 3px 1px #79b03d;
}
.radio-style {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -2px;
}
.radio-style input {
  display: none;
}
.radio-style input:checked + label:after {
  opacity: 1.0;
}
.radio-style label {
  height: 18px;
  width: 18px;
  border: 2px solid #cacaca;
  display: block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: relative;
}
.radio-style label:after {
  content: " ";
  display: block;
  height: 8px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  opacity: 0;
  background: #cacaca;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  width: 8px;
}
.header-nav {
  float: right;
  margin-top: 8px;
  font-size: 19px;
}
.header-nav li {
  float: left;
  margin-left: 25px;
}
.section {
  margin-bottom: 40px;
}
.intro .inlines {
  margin: 40px 0;
}
.intro .inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.intro .inline:first-child {
  margin-left: 0;
}
.intro p {
  font-size: 20px;
}
.ik_select_link {
  border: 1px solid #e2e2e2;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset , 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset , 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset , 0 0 2px rgba(0, 0, 0, 0.1);
  color: #585858;
  display: block;
  font-size: 15px;
  cursor: pointer;
  line-height: 20px;
  padding: 4px 8px;
  -webkit-transition: all all 0.2s ease-out 0s ease-out 0s;
  -moz-transition: all all 0.2s ease-out 0s ease-out 0s;
  -o-transition: all all 0.2s ease-out 0s ease-out 0s;
  -ms-transition: all all 0.2s ease-out 0s ease-out 0s;
  transition: all all 0.2s ease-out 0s ease-out 0s;
}
.ik_select_link_text {
  text-align: left;
  position: relative;
}
.ik_select_link_text:after {
  content: " ";
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid #5a5a5a;
  display: inline-block;
  font-size: 0.625rem;
  vertical-align: middle;
  width: 0;
  position: absolute;
  top: 8px;
  right: 0;
}
.ik_select_link:after,
.intro-select2-link .ik_select_link_inner:after {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -11px;
}
.ik_select_link.ik_select_link_focus {
  border-color: #585858;
  -moz-box-shadow: 0 0 2px #000000;
  -webkit-box-shadow: 0 0 2px #000000;
  box-shadow: 0 0 2px #000000;
}
.ik_select_link.ik_select_link_disabled {
  opacity: .5;
}
.ik_select_link_text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ik_select_dropdown {
  top: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 99999999;
}
.ik_select_filter_wrap,
.ik_select_nothing_found {
  padding: 5px 15px;
}
.ik_select_filter {
  padding: 3px 14px;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 300;
}
.ik_select_filter:focus {
  outline: none;
}
.ik_select_list {
  padding: 5px 0;
  color: #fff;
}
.ik_select_list .ik_select_option {
  padding: 8px 15px;
  border-top: 1px solid #f0f0f0;
}
.ik_select_list .ik_select_option:first-child {
  border-top: none;
}
.ik_select_list .ik_select_option.ik_select_hover {
  background: #585858;
  color: #fff;
}
.ik_select_list .ik_select_option_disabled {
  opacity: .5;
}
.ik_select_list .ik_select_optgroup {
  padding: 5px 15px;
}
.ik_select_list .ik_select_optgroup .ik_select_option {
  margin: 0 -15px;
  padding: 0 30px;
}
.ik_select_list .ik_select_optgroup_label {
  padding-bottom: 2px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.ik_select_list {
  background: #fff;
  border-color: #000;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset , 0 0 2px #000000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset , 0 0 2px #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset , 0 0 2px #000000;
  cursor: default;
  margin-top: 6px;
}
.ik_select_list ul {
  color: #585858;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ik_select_list ul li {
  cursor: pointer;
}
.select-big .ik_select_link {
  font-size: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.swiper-container {
  width: 100%;
  margin: 20px auto;
}
.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container-main .swiper-wrapper img,
.swiper-container-main .swiper-wrapper a {
  width: 100%;
}
.swiper-container {
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-wrapper img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}
.swiper-slide {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: auto !important;
  position: relative;
}
.swiper-wrapper {
  height: auto !important;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  color: #afaeaf;
  position: absolute;
  border: 2px solid transparent;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 40px;
  text-align: center;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  z-index: 1;
}
.swiper-button-prev:hover .icon,
.swiper-button-next:hover .icon {
  color: #f7931d;
}
.swiper-button-prev .icon,
.swiper-button-next .icon {
  line-height: 56px;
}
.swiper-button-prev {
  left: 50%;
  margin-left: -600px;
  right: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.swiper-button-prev .icon {
  margin-right: 5px;
}
.swiper-button-next {
  right: 50%;
  margin-right: -600px;
  left: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.swiper-button-next .icon {
  margin-left: 5px;
}
.slider-text {
  color: #ffffff;
  font-size: 23px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  font-weight: 300;
  line-height: 1.2;
  display: block;
  width: 100%;
  text-align: left;
  padding: 12px 15px;
  font-family: "Roboto";
  background-color: rgba(21, 27, 27, 0.47);
}
.container-arrow {
  position: relative;
}
.swiper-container-main {
  position: relative;
}
.swiper-slide a {
  overflow: hidden;
  display: block !important;
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
.container-arrow-main {
  position: relative;
}
.container-arrow-main .swiper-button-prev,
.container-arrow-main .swiper-button-next {
  top: auto;
  bottom: 8%;
  margin-bottom: -21px;
}
@media (max-width: 640px) {
  .swiper-container-main img {
    min-height: 174px;
  }
}
.basket {
  vertical-align: top;
  float: right;
  margin-top: 35px;
  position: relative;
}
.basket-btn {
  background-color: #e94025;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  height: 56px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 11px 0;
}
.logo {
  display: inline-block;
  padding-top: 9px;
  width: 33.36%;
  padding-right: 28px;
  position: relative;
  z-index: 2;
}
.main-menu {
  display: inline-block;
  vertical-align: top;
  width: 55.6%;
  z-index: 1;
}
.main-menu > ul {
  list-style: none;
  margin-top: 37px;
  overflow: hidden;
  padding-left: 0;
  min-height: 50px;
  text-align: justify;
}
.main-menu > ul:after {
  content: " ";
  display: inline-block;
  width: 100%;
}
.main-menu > ul > li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.main-menu > ul > li.current-menu-item a {
  color: #fcb618;
}
.main-menu > ul > li > a {
  text-transform: uppercase;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}
.main-menu > ul > li > a:hover {
  color: #fcb618;
}
.main-menu .sub-menu {
  list-style: none;
  text-align: left;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -221px;
  width: 808px;
  padding: 10px 0 16px 0;
}
.main-menu .sub-menu li {
  float: left;
  padding-left: 20px;
  padding-bottom: 3px;
  width: 33.3%;
}
.main-menu .sub-menu a {
  display: block;
  background: #fff;
  overflow: hidden;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
  color: #6f6e6e;
  text-decoration: none;
  font-size: 0px;
  line-height: 1;
  height: 52px;
  text-transform: uppercase;
  position: relative;
}
.main-menu .sub-menu a > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.main-menu .sub-menu a span {
  width: 70%;
}
.main-menu .sub-menu a:after {
  content: " ";
  display: block;
  position: absolute;
  right: -30px;
  top: 0;
  border-right: 26px solid #e94025;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.main-menu .sub-menu a:hover {
  color: #fcb618;
}
.main-menu .sub-menu a:hover:after {
  right: -11px;
}
.main-menu .sub-menu .current-menu-item a:after {
  right: -11px;
}
.main-menu > ul > li.open-submenu > a {
  color: #fcb618;
}
.sub-menu-wrap {
  background-image: url(../images/bg-menu.jpg);
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  height: 0;
  margin-top: -4px;
  width: 100%;
  z-index: 1;
  -moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
}
.sub-menu-wrap:after {
  content: " ";
  display: block;
  height: 4px;
  background: #ff8a00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu_img {
  height: 100%;
  line-height: 52px;
  padding: 0 20px 0 4px;
  width: 30%;
  text-align: center;
}
.menu_img img {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  max-height: 100%;
}
.main-header {
  background-image: url(../images/bg.jpg);
  height: 91px;
}
.sircle-sum {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  font-size: 12px;
  color: #e94025;
  line-height: 17px;
  text-align: center;
  display: inline-block;
  margin: 4px 0 9px;
}
.languages {
  margin-right: 12px;
}
.languages > span {
  display: none;
  font-size: 2.8125em;
  line-height: 1em;
  padding: 0.66666667em 0;
  padding-left: 1.24444444em;
}
.language {
  float: right;
  margin-left: 13px;
}
.language:before {
  content: "";
  height: 29px;
  width: 29px;
  display: block;
  background-image: url(../images/sprite_country.png);
}
.language div {
  font-size: 2.375em;
  color: #6f6e6e;
  display: none;
}
.rus-lang:before {
  background-position: -63px -31px;
}
.est-lang:before {
  background-position: -63px -1px;
}
.top-header-info {
  overflow: hidden;
  padding-top: 9px;
}
.top-header-info .icon {
  font-size: 29px;
}
.top-header-info > div {
  float: right;
  overflow: hidden;
}
header {
  position: relative;
  z-index: 3;
}
.city-buttons a {
  background-color: #ff8a00;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 0;
  display: block;
  float: right;
  min-width: 130px;
  text-align: center;
  margin-left: 11px;
}
.city-buttons a.active {
  background-color: #f0552d;
  text-decoration: none;
}
.header-contact {
  margin: 0 21px 0 41px;
}
.header-contact a {
  float: right;
}
.phone {
  display: inline-block;
  font-size: 22px;
  color: #f0552d;
  font-weight: bold;
  line-height: 27px;
}
.mail {
  color: #6d6d6d;
  text-decoration: none;
  font-size: 22px;
  margin-left: 30px;
}
.code-phone {
  color: #9a9999;
  font-style: normal;
}
.mode {
  font-size: 18px;
  color: #4a4a4a;
}
.mode div {
  float: left;
  margin-left: 11px;
  line-height: 29px;
}
.mode div:first-child {
  margin-left: 0;
}
.few-basket {
  background-color: #1e1e1e;
  width: 270px;
  padding: 0px 8px 20px;
  border-top: 4px solid #e94025;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: -4px;
  display: none;
}
.few-basket-item {
  list-style: none;
  padding: 10px 0 0 0;
  margin: auto;
  color: #fff;
}
.few-basket-item > li {
  line-height: 38px;
  padding-top: 10px;
}
.few-basket-item > li:after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: #888888;
  background-image: -webkit-repeating-linear-gradient(90deg, #888888 4%, #737373 5%, #565656 6%);
  /* Chrome 10+, Safari 5.1+, iOS 5+, Android 4+ */
  background-image: -moz-repeating-linear-gradient(90deg, #888888 4%, #737373 5%, #565656 6%);
  /* Firefox 3.6+ */
  background-image: -ms-repeating-linear-gradient(90deg, #888888 4%, #737373 5%, #565656 6%);
  /* IE 10+ */
  background-image: -o-repeating-linear-gradient(90deg, #888888 4%, #737373 5%, #565656 6%);
  /* Opera 11.10+ */
  background-image: repeating-linear-gradient(90deg, #888888 4%, #737373 5%, #565656 6%);
}
.few-basket-item span:last-child {
  float: right;
}
.few-basket-item span {
  text-transform: none;
  font-size: 18px;
}
.basket-btn-desktop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.logo-basket {
  display: inline-block;
  width: 122px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-telephone {
  margin-right: 15px;
  vertical-align: top;
}
.icon-ampersand {
  margin-right: 16px;
}
.icon-time_header {
  margin-right: 4px;
}
.nav-btn {
  width: 85px;
  float: left;
  padding: 15px 17px;
  cursor: pointer;
  display: none;
}
.nav-btn > div {
  height: 11px;
  background-color: #ff8a00;
  margin-top: 6px;
  border-radius: 1px;
}
.btn-header-info {
  padding: 21px 17px;
  cursor: pointer;
  display: none;
  float: left;
}
.btn-header-info .icon-gear {
  color: #f0552d;
  font-size: 46px;
}
.logo-mobile {
  display: none;
  width: 100%;
  padding: 1.875em 0 4.375em;
}
.overflow-hidden {
  overflow: hidden;
}
.body-right > * {
  float: right;
}
.content-basket-mobile {
  display: none;
}
.basket-item {
  background: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
}
.basket-item li {
  height: 7.125em;
  line-height: 7.125em;
  border-top: 2px solid #ebebeb;
}
.basket-item li:first-child {
  border-top: none;
}
.menu_img_basket {
  float: left;
  height: 100%;
  width: 8.25em;
  margin-left: 2.1875em;
  text-align: center;
}
.menu_img_basket img {
  max-height: 98%;
  display: inline-block;
  vertical-align: middle;
}
.menu_content_basket {
  margin-left: 14.1875em;
  height: 100%;
}
.menu_content_basket span {
  float: right;
  font-size: 2.8125em;
  margin-right: 1.37777778em;
}
.basket-input {
  display: inline-block;
  border: 1px solid #cccccc;
  line-height: 1.46666667em;
  vertical-align: middle;
  font-size: 2.8125em;
  font-family: inherit;
  color: #6e6e6e;
  text-align: center;
  height: 1.51111111em;
  width: 1.28888889em;
}
.finish-basket {
  font-size: 2.8125em;
  line-height: 2.84444444em;
  color: #fff;
  text-transform: uppercase;
  padding: 0 1.37777778em;
  overflow: hidden;
  border-bottom: 2px solid #343434;
  width: 100%;
}
.finish-basket span:first-child {
  float: left;
}
.finish-basket span:last-child {
  float: right;
}
@media (max-width: 1190px) {
  .mode {
    font-size: 16px;
  }
  .phone,
  .mail {
    font-size: 20px;
  }
  .top-header-info {
    padding-left: 10px;
  }
  .top-header-info .icon {
    font-size: 26px;
  }
  .top-header-info .mode {
    float: left;
  }
  .header-contact {
    margin-left: 0;
  }
  .city-buttons a {
    min-width: 120px;
  }
}
@media (max-width: 1090px) {
  .city-buttons a {
    min-width: 100px;
    font-size: 14px;
    margin-left: 7px;
  }
  .mail {
    margin-left: 20px;
  }
  .header-contact {
    margin-right: 0;
  }
  .header-contact .icon {
    margin-right: 10px;
  }
}
@media (max-width: 1040px) {
  [data-body-content] {
    display: none;
    overflow: auto;
  }
  [data-body-content].open-menu {
    display: block;
  }
  .basket {
    height: 100%;
  }
  .basket-btn {
    font-size: 26px;
    height: 100%;
    line-height: 1;
    padding: 12px 20px 0;
  }
  .hide-btn {
    display: none !important;
  }
  .nav-btn {
    display: block;
  }
  .main-header {
    height: 89px;
  }
  .main-header > .main-width {
    height: 100%;
  }
  .main-menu {
    font-size: 13.5px;
    padding-left: 85px;
    width: 100%;
    right: 100%;
    position: absolute;
    background-color: #424242;
    top: 0;
    z-index: 999;
  }
  .main-menu > ul {
    margin: 0;
  }
  .main-menu > ul:after {
    display: none;
  }
  .main-menu > ul > li.current-menu-item a {
    color: #fff;
    background: #f48502;
  }
  .main-menu > ul li {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #353434;
  }
  .main-menu > ul li a {
    font-size: 2.8125em;
    display: block;
    padding: 0.44444444em 1.28888889em;
  }
  .main-menu > ul li:last-child {
    border-bottom: none;
  }
  .main-menu .sub-menu {
    position: static;
    margin: auto;
    width: auto;
    padding: 0;
    border-bottom: 2px solid #5e5e5e;
  }
  .main-menu .sub-menu li {
    float: none;
    width: auto;
    padding: 0;
    border-color: #ebebeb;
  }
  .main-menu .sub-menu a {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 6.5em;
    font-size: 1em;
    padding: 0.625em 0 0.625em 2.5em;
  }
  .main-menu .sub-menu a:after {
    display: none;
  }
  .main-menu .sub-menu a > * {
    font-size: 2.8125em;
  }
  .main-menu .sub-menu a span {
    margin-left: -3.33333333em;
    padding-left: 4.04444444em;
    width: 100%;
  }
  .main-menu .sub-menu .current-menu-item a {
    color: #f48502;
  }
  .main-menu > ul > li.open-submenu > a {
    color: #fff;
    background: #f48502;
  }
  .sub-menu-wrap {
    background: transparent;
    position: static;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: auto;
  }
  .sub-menu-wrap:after {
    display: none;
  }
  .menu_img {
    padding: 0;
    width: 2.66666667em;
  }
  .basket {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  .sircle-sum {
    font-weight: bold;
    font-size: 23px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  .top-header-info {
    position: absolute;
    top: 0;
    right: 100%;
    padding: 0;
    font-size: 13.5px;
    background-color: #2d2c2c;
    padding-left: 76px;
    width: 100%;
  }
  .top-header-info > div {
    float: none;
  }
  .logo-mobile {
    display: block;
    text-align: center;
  }
  .logo-mobile a {
    display: inline-block;
    width: 22.5625em;
  }
  .city-buttons a {
    float: none;
    margin-left: 0;
    font-size: 2.8125em;
    line-height: 1em;
    padding: 0.64444444em 1.24444444em;
    margin-top: 0.04444444em;
    text-align: left;
  }
  .city-buttons a:first-child {
    margin-top: 0;
  }
  .languages {
    color: #fff;
    margin-right: 0;
  }
  .languages span {
    display: block;
    text-transform: uppercase;
  }
  .languages a {
    float: none;
    background-color: #ffffff;
    display: block;
    margin-left: 0;
    position: relative;
    padding: 2.3125em 3.5em;
    border-bottom: 2px solid #ebebeb;
    text-transform: uppercase;
  }
  .languages a:last-child {
    border-bottom: none;
  }
  .languages a:before {
    position: absolute;
    top: 50%;
    left: auto;
    width: 3.5em;
    height: 3.5em;
    margin-top: -1.6875em;
  }
  .languages a > div {
    display: inline-block;
    line-height: 1em;
    padding-left: 2.23684211em;
  }
  .btn-header-info {
    display: block;
  }
  .header-contact {
    text-align: center;
    margin-top: 5em;
    padding: 0;
  }
  .header-contact .phone {
    font-size: 2.8125em;
    color: #f48502;
  }
  .header-contact .code-phone {
    color: inherit;
  }
  .header-contact a {
    float: none;
    display: block;
    margin-left: 0;
    font-size: 2.8125em;
    color: #f0552d;
    margin-top: 0.73333333em;
  }
  .header-contact .icon {
    display: none;
  }
  .phone,
  .mail {
    display: block;
    line-height: 1.2;
  }
  .mode {
    display: block;
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-top: 3.625em;
  }
  .mode .icon {
    display: none;
  }
  .mode > div {
    float: none;
    margin-left: 0;
    color: #d5d3d3;
    font-size: 2.5em;
    line-height: 1.45em;
  }
  .rus-lang:before {
    background-position: 24% 94%;
    background-size: 164% auto;
  }
  .est-lang:before {
    background-position: 20% 5%;
    background-size: 164% auto;
  }
  .logo {
    position: absolute;
    top: 0;
    height: 100%;
    left: 166px;
    right: 130px;
    padding: 0;
    width: auto;
    text-align: center;
  }
  .logo a {
    display: inline-block;
    max-width: 100%;
    height: 100%;
  }
  .logo img {
    max-height: 100%;
  }
  .basket-btn-desktop {
    display: none;
  }
  .few-basket {
    right: auto;
    left: 100%;
    top: 0;
    padding: 0 130px 0 0;
    margin: auto;
    width: 100%;
  }
  .basket {
    position: static;
  }
  .content-basket-mobile {
    display: block;
  }
  .few-basket {
    border-top: none;
    font-size: 14.5px;
  }
  .title-basket-mobile {
    font-size: 2.8125em;
    margin: auto;
    padding: 0.51111111em 1.22222222em;
    text-transform: uppercase;
    color: #fff;
  }
  h5.title-basket-mobile {
    background: #ea4026;
  }
  h6.title-basket-mobile {
    background: #f48502;
  }
  .few-basket-item {
    display: none;
  }
  .basket .btn {
    font-size: 2.8125em;
    padding: 0.44444444em 0.66666667em;
  }
  .basket .text-center {
    margin-top: 1.875em;
  }
  .logo-basket {
    width: 23.375em;
    padding-bottom: 2.5em;
  }
}
@media (max-width: 640px) {
  .main-header {
    height: 60px;
  }
  .btn-header-info {
    padding: 12px;
  }
  .btn-header-info .icon-gear {
    font-size: 35px;
  }
  .nav-btn {
    padding: 8px 12px;
    width: 60px;
  }
  .nav-btn > div {
    height: 6px;
    margin-top: 6px;
  }
  .sircle-sum {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    width: 24px;
  }
  .basket-btn {
    font-size: 14px;
    padding: 10px 12px 0;
  }
  .logo {
    left: 120px;
    right: 74px;
  }
  .main-menu {
    font-size: 9px;
    padding-left: 50px;
  }
  .top-header-info {
    font-size: 9px;
    padding-left: 50px;
  }
  .few-basket {
    font-size: 9.6px;
    padding-right: 66px;
  }
  .few-basket .btn {
    font-size: 2.5em;
  }
}
@media (max-width: 370px) {
  .main-header {
    height: 50px;
  }
  .btn-header-info {
    padding: 10px;
  }
  .btn-header-info .icon-gear {
    font-size: 28px;
  }
  .nav-btn {
    padding: 7px 10px;
    width: 49px;
  }
  .nav-btn > div {
    height: 4px;
    margin-top: 6px;
  }
  .basket-btn {
    font-size: 14px;
    padding: 5px 10px 0;
  }
  .sircle-sum {
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    margin: 2px;
    width: 22px;
  }
  .logo {
    left: 98px;
    right: 69px;
  }
  .main-menu {
    font-size: 7.5px;
    padding-left: 38px;
  }
  .top-header-info {
    font-size: 7.5px;
    padding-left: 38px;
  }
  .few-basket {
    font-size: 8px;
  }
}
.footer-main {
  background: #fff;
  min-height: 2.875rem;
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 0 15px;
  font-family: "Open Sans";
}
.footer-main-bottom {
  font-size: 10px;
  color: #787878;
  line-height: normal;
}
.footer-main-bottom a {
  color: inherit;
  text-decoration: underline;
}
.footer-main-bottom a:hover {
  text-decoration: none;
}
.footer-info-site {
  font-size: 9px;
  margin-top: 2px;
  float: right;
}
.footer-info-site > div {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 42px;
}
.copy {
  margin-top: 10px;
  margin-right: 514px;
}
.copy span {
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  .footer-main .main-width {
    padding-left: 8px;
    padding-right: 8px;
  }
  .footer-info-site {
    float: none;
    font-size: 12px;
  }
  .footer-info-site > div {
    margin: 0 25px;
  }
  .copy {
    margin: 12px auto 0;
  }
  .footer-main-bottom {
    text-align: center;
    padding: 27px 0 17px 0;
  }
}
@media (max-width: 1150px) {
  .footer-main .main-width {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 640px) {
  .footer-main .main-width {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (max-width: 440px) {
  .footer-main .main-width {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-info-site > div {
    margin: 0 10px;
  }
}
html,
body {
  height: 100%;
}
body {
  overflow: visible;
}
.main-width {
  max-width: 1172px;
  margin: auto;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -2.875rem;
  position: relative;
}
.all {
  padding-bottom: 2.875rem;
}
.title-style {
  text-transform: uppercase;
  border-bottom: 4px solid #e94025;
  min-width: 271px;
  display: inline-block;
  padding: 5px 0;
  margin: 10px 0;
}
.shadow {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.pull-right {
  float: right !important;
}
.triangle-wrap {
  position: absolute;
  left: -6px;
  right: -6px;
  bottom: 100%;
}
.triangle {
  position: relative;
  padding-top: 8.88888889%;
  overflow: hidden;
}
.triangle:after {
  content: " ";
  display: block;
  height: 100%;
  -ms-transform: skew(0, -5deg);
  -webkit-transform: skew(0, -5deg);
  transform: skew(0, -5deg);
  background: #fff;
  position: absolute;
  top: 50%;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  left: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.wrap-goods {
  padding: 0;
  overflow: hidden;
  list-style: none;
  margin: 0 -15px;
}
.wrap-goods li {
  float: left;
  padding: 15px;
  width: 33.3%;
}
.wrap-goods a {
  padding-top: 100%;
  background: #fff;
  height: 0;
  display: block;
  border: 6px solid #fff;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  position: relative;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.wrap-goods a:hover {
  border-color: #e94025;
}
.wrap-goods a:hover .triangle:after {
  background: #e94025;
}
.wrap-goods a:hover h4 {
  background: #e94025;
  color: #fff;
}
.wrap-goods img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  display: block;
  max-height: 100%;
  z-index: 1;
}
.wrap-goods h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: #e94025;
  text-transform: uppercase;
  left: 0;
  background: #fff;
  margin: 0;
  padding: 8px;
  z-index: 2;
  text-align: center;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.two-column {
  margin: 0 -15px 25px;
}
.two-column:after {
  content: " ";
  clear: both;
  display: table;
  width: 100%;
}
.two-column:before {
  content: " ";
  clear: both;
  display: table;
  width: 100%;
}
.two-column > div {
  padding: 0 15px;
}
.left-column {
  float: left;
  width: 75%;
}
.right-column {
  float: left;
  width: 25%;
}
.alert-action {
  background: #e94025;
  font-size: 20px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  padding: 17px 12px 7px 62px;
  z-index: 2;
}
.alert-action .icon {
  position: absolute;
  top: 13px;
  left: 22px;
  font-size: 30px;
  z-index: 2;
}
.products-action {
  margin-top: 24px;
}
.action-triangle-wrap {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
}
.action-triangle {
  position: relative;
  padding-top: 8.88888889%;
  overflow: hidden;
}
.action-triangle:after {
  content: " ";
  display: block;
  height: 100%;
  -ms-transform: skew(0, -5deg);
  -webkit-transform: skew(0, -5deg);
  transform: skew(0, -5deg);
  background: #e94025;
  position: absolute;
  top: -50%;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  left: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.wrap-name-product {
  display: table;
  -moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 12px 10px;
  font-size: 20px;
  color: #5d5d5b;
}
.wrap-name-product > div {
  display: table-cell;
}
.name-product {
  width: 100%;
  position: relative;
}
.name-product > div {
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
  right: 5px;
}
.sum {
  white-space: nowrap;
  font-size: 18px;
}
.sum > div {
  display: inline-block;
  vertical-align: top;
}
.new-sum {
  color: #e94025;
}
.old-sum {
  text-decoration: line-through;
}
.end-action {
  background: #e4e4e4;
  overflow: hidden;
  padding: 6px 10px;
}
.end-action-text {
  font-size: 16px;
  color: #4f4f4f;
  float: left;
  width: 86px;
}
.timer {
  font-size: 32px;
  float: right;
}
.seconds {
  color: #e94025;
}
.action-product {
  position: relative;
}
.action-product .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  color: #fff;
}
.action-product .icon-discount {
  background: #e53114;
  font-size: 22px;
}
.action-product .icon-new {
  background: #5ab806;
  font-size: 34px;
}
.accordion-title {
  position: relative;
}
.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.arrow:after {
  content: " ";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff8a00;
  position: absolute;
  top: -13px;
  left: -10px;
  z-index: 2;
}
.accordion-wrap {
  margin-top: 24px;
}
.accordion {
  margin-bottom: 1px;
}
.accordion-title {
  background: #ff8a00;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 30px  13px 10px;
  cursor: pointer;
}
.accordion-content {
  display: none;
  overflow: hidden;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.accordion-content img {
  margin-top: 15px;
}
.open .accordion-title {
  background: #f0552d;
}
.open .arrow {
  border-top: none;
  border-bottom: 10px solid #fff;
}
.open .arrow:after {
  border-top: none;
  border-bottom: 10px solid #f0552d;
  top: 3px;
}
.open .accordion-content {
  display: block;
}
.title-sum {
  background: #eeeeee;
  color: #2e2e2e;
  font-size: 18px;
  overflow: hidden;
  padding: 15px 10px;
  text-transform: uppercase;
}
.title-sum > div:first-child {
  float: left;
}
.title-sum > div:last-child {
  float: right;
}
a:hover {
  text-decoration: none;
}
.see-all {
  background: #fbfafa;
  font-size: 16px;
  text-align: center;
  padding: 7px;
}
.see-all a {
  color: #858383;
}
.background-block {
  position: relative;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 20px;
}
.background-block:after {
  content: " ";
  background-image: url(../images/bg.png);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.background-block:before {
  content: " ";
  background: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.background-block .main-width {
  position: relative;
  z-index: 3;
}
.smartphone-left {
  float: left;
  padding: 20px;
  width: 274px;
  text-align: center;
  color: #fff;
}
.smartphone-left-content {
  position: relative;
  z-index: 2;
}
.smartphone-left-content img {
  margin-top: 40px;
}
.smartphone-left-bg {
  background: #232323;
  position: absolute;
  top: -16px;
  left: 0;
  bottom: -16px;
  width: 274px;
  z-index: 1;
}
.smartphone-left-bg:after,
.smartphone-left-bg:before {
  background-image: url(../images/line-qr.jpg);
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
}
.smartphone-left-bg:before {
  left: 13px;
}
.smartphone-left-bg:after {
  right: 13px;
}
.angle {
  position: absolute;
  height: 0;
  width: 0;
}
.angle-top {
  top: 0;
  border-bottom: 16px solid #302e2e;
}
.angle-bottom {
  bottom: 0;
  border-top: 16px solid #302e2e;
}
.angle-left {
  border-left: 16px solid transparent;
  right: 100%;
}
.angle-right {
  border-right: 16px solid transparent;
  left: 100%;
}
.smartphone-left-title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  line-height: 1;
  margin-top: -20px;
  margin-bottom: 0;
}
.red {
  color: #e94025;
}
.qr-content {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  padding: 0 12px;
  margin-top: 14px;
}
.qr-content > p:first-child {
  margin-top: 0;
}
.smartphone-right {
  padding: 20px 0;
  margin: 0 300px;
  color: #fff;
}
.smartphone-title {
  color: inherit;
  font-size: 28px;
  font-weight: 700;
  margin: 40px 0 25px 0;
}
.yellow {
  color: #ffb100;
}
.smartphone-content {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
.smartphone-content > p:first-child {
  margin-top: 0;
}
.info-block {
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
}
.smartphone-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.mailing {
  text-align: center;
  font-size: 35px;
  max-width: 656px;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  padding: 30px 0;
}
.mailing p {
  margin-top: 0;
}
.mailing-form {
  text-align: left;
  display: table;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 18px auto 10px;
  width: 572px;
}
.mailing-form > div {
  display: table-cell;
  vertical-align: top;
}
.mailing-form > div:first-child {
  width: 100%;
}
.mailing-form .btn {
  margin: auto;
  font-size: 18px;
  padding: 13px 30px;
  min-height: 50px;
}
.mailing-form .form-control {
  margin: 0;
  height: 50px;
  font-size: 18px;
}
.row {
  margin: 0 -15px;
}
.row:after {
  content: " ";
  clear: both;
  display: table;
  width: 100%;
}
.row:before {
  content: " ";
  clear: both;
  display: table;
  width: 100%;
}
.span6 {
  padding: 0 15px;
  float: left;
  width: 50%;
}
.img-news {
  float: left;
  position: relative;
  width: 300px;
}
.img-news:after {
  content: " ";
  display: block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.news-content {
  margin-left: 305px;
}
.one-news {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}
.title-news {
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
  padding: 9px 0;
  position: relative;
  margin-left: -24px;
  padding-left: 24px;
}
.text-news {
  font-size: 15px;
  margin-top: 7px;
  padding-right: 4px;
}
.text-news > p:first-child {
  margin-top: 0;
}
.section-news-one {
  height: 104px;
  overflow: hidden;
  margin-left: -24px;
  padding-left: 24px;
}
.news-triangle-wrap {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 30px;
}
.news-triangle {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.news-triangle:after {
  content: " ";
  display: block;
  height: 100%;
  -ms-transform: skew(11deg, 0deg);
  -webkit-transform: skew(11deg, 0deg);
  transform: skew(11deg, 0deg);
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
}
.footer-news {
  overflow: hidden;
  padding: 5px 4px 0 0;
}
.read {
  font-size: 14px;
  float: left;
  color: #e94025;
  text-decoration: none;
}
.read:hover {
  text-decoration: underline;
}
.data-news {
  float: right;
  font-size: 14px;
}
.delivery {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.section-column {
  position: relative;
}
.section-column:after {
  content: " ";
  display: block;
  left: 0;
  width: 100%;
  position: absolute;
  top: 50px;
  height: 1px;
  background: #dedede;
}
.section-column .title-style {
  margin-bottom: 20px;
}
.section-column > .main-width {
  position: relative;
}
.questions-block {
  position: relative;
  z-index: 2;
}
.questions-img {
  position: absolute;
  bottom: 0;
  left: 84px;
}
.questions-item {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.questions-item li {
  font-size: 20px;
  margin-bottom: 4px;
}
.questions-item a {
  color: #4f4f4f;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.questions-item a:hover {
  border-color: #e94025;
}
.footer-line {
  background-image: url("../images/bg.jpg");
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 44px 0 11px 0;
}
.footer-line a {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  margin: 0 10px 20px;
  position: relative;
  z-index: 9;
}
.footer-line a:hover .icon,
.footer-line a:focus .icon,
.footer-line a:active .icon {
  background: #919191;
  -moz-box-shadow: 0 0 0 3px #ffffff;
  -webkit-box-shadow: 0 0 0 3px #ffffff;
  box-shadow: 0 0 0 3px #ffffff;
}
.footer-line .icon {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  position: relative;
  line-height: 44px;
  width: 44px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  font-size: 28px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.footer-line .icon:after {
  content: " ";
  display: block;
  height: 200%;
  width: 200%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}
.footer-line .icon-facebook {
  background: #6d85b4;
}
.footer-line .icon-twitter {
  background: #88bee1;
}
.footer-line .icon-vk {
  background: #4c75a3;
}
.order-answer {
  position: relative;
  margin-left: -158px;
  padding-top: 23px;
}
.order-answer-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.order-answer-item li {
  position: relative;
  padding-left: 63px;
}
.order-answer-item li:nth-child(2) {
  margin-left: 55px;
}
.order-answer-item .icon {
  position: absolute;
  left: 4px;
  color: #fff;
  font-size: 46px;
  top: -9px;
}
.order-answer-item h4 {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  color: #3d3d3d;
}
.order-answer-item p {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1;
  margin-top: 0;
  color: #3d3d3d;
}
.order-answer-text {
  font-size: 18px;
  font-weight: 700;
  color: #3d3d3d;
  margin-top: 14px;
}
.order-answer-phone {
  color: #fff;
  font-size: 24px;
  margin-top: 13px;
  font-weight: 700;
}
.order-answer-phone .icon-telephone {
  font-size: 30px;
  vertical-align: top;
  margin-top: -4px;
}
.recommend {
  font-size: 22px;
  font-weight: 700;
  color: #3d3d3d;
  margin-top: 7px;
}
.relative-order-answer {
  position: relative;
  z-index: 2;
  height: 277px;
}
.order-answer-img {
  position: absolute;
  top: -90px;
  right: -158px;
  max-width: 1000px;
  z-index: 1;
}
.text-center {
  text-align: center;
  margin-top: 20px;
}
