@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2ji5qs');
	src:url('fonts/icomoon.eot?#iefix-2ji5qs') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-2ji5qs') format('truetype'),
		url('fonts/icomoon.woff?-2ji5qs') format('woff'),
		url('fonts/icomoon.svg?-2ji5qs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
	content: "\e604";
}
.icon-new:before {
	content: "\e605";
}
.icon-discount:before {
	content: "\e607";
}
.icon-attention:before {
	content: "\e608";
}
.icon-mail:before {
	content: "\e609";
}
.icon-telephone:before {
	content: "\e60b";
}
.icon-time:before {
	content: "\e60d";
}
.icon-basket:before {
	content: "\e610";
}
.icon-notebook:before {
	content: "\e611";
}
.icon-car:before {
	content: "\e612";
}
.icon-world:before {
	content: "\e613";
}
.icon-facebook:before {
	content: "\e614";
}
.icon-marker:before {
	content: "\e615";
}
.icon-close:before {
	content: "\e619";
}
.icon-settings:before {
	content: "\e63a";
}
.icon-ok:before {
	content: "\e800";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-ok2:before {
	content: "\f00c";
}
.icon-vk:before {
	content: "\f189";
}
.icon-left:before {
	content: "\e621";
}
.icon-right:before {
	content: "\e61f";
}
