html{
	font-size: @base-px;
	line-height: 16 * @toRems;
	color: #6b6b6b;
	font-family: 'PT Sans Narrow';
}
html, body{
	height: 100%;
}

body{
	overflow: visible;
}

.main-width{
	max-width: 1172px;
	margin: auto;
}
.wrapper{
	min-height: 100%;
	margin-bottom: -46 * @toRems;
	position: relative;
}
.all{
	padding-bottom: 46 * @toRems;
	overflow: hidden;	
}
.title-style{
	text-transform: uppercase;
	border-bottom: 4px solid #e94025;
	min-width: 271px;
	display: inline-block;
	padding: 5px 0;
	margin: 10px 0;
}

.block-goods{
	width: 33.3%;
	display: inline-block;
	.box-shadow(0 0 5px rgba(0, 0, 0, 0.05));
}








.shadow{
	.box-shadow(0 0 5px rgba(0, 0, 0, 0.05));
}







.pull-right{
	float: right !important;
}











































